.App {
  text-align: center;
  font-family: sans-serif;
}

.counter {
  text-align: center;
  font-size: 40px;
}

button {
  min-width: 3em;
  min-height: 3em;
  margin: 0.5em;
  font-size: 0.5em;
  font-weight: bold;
}
